/* variables */
:root{
    --color1: #fffcff;
    --color2: #cbd4c2;
    --color3: #f09d51;
    --color4: #c3423f;
    --color5: #313638;
}

/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* base styles */
.col-1{width: 8.33%}
.col-2{width: 16.67%}
.col-3{width: 25%}
.col-4{width: 33.33%}
.col-5{width: 41.67%}
.col-6{width: 50%}
.col-7{width: 58.33%}
.col-8{width: 66.67%}
.col-9{width: 75%}
.col-10{width: 83.33%}
.col-11{width: 91.67%}
.col-12{width: 100%}

html{
    font-size: 16px;
}

body{
    background: var(--color5);
    overflow-x: hidden;
}

section{
    height: 100vh;
}

#navbar{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    background-color: var(--color4);
    color: var(--color1);
    font-size: .85rem;
    align-items: center;
    text-align: center;
}

.navbar-links-container{
    display: flex;
    justify-content: flex-end;

    
    background-color: red;
}

.navbar-link{
    color: var(--color2);
}


/* fonts */
/* mobile styles */


/* small tablet and large phone)*/
@media only screen and (min-width: 620px){

}

/* large tablet laptop */
@media only screen and (min-width: 960px){

}

/* large laptop and desktop */
@media only screen and (min-width: 1200px){

}
