/* variables */
:root{
    --color1: #fffcff;
    --color2: #cbd4c2;
    --color3: #f09d51;
    --color4: #c3423f;
    --color5: #313638;
}
/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* base styles */
body{
    background: var(--color5);
    overflow-x: hidden;
}
/* fonts */
/* mobile styles */
#projects, #welcome-section{
    height: 100vh;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
}

/* small tablet and large phone)*/
@media only screen and (min-width: 620px){

}

/* large tablet laptop */
@media only screen and (min-width: 960px){

}

/* large laptop and desktop */
@media only screen and (min-width: 1200px){

}
