/* variables */
:root{
    --pastel-gray: #cbd4c2;
    --white: #fffcff;
    --onyx: #313638;
    --english-vermillion: #c3423f;
    --sandy-brown: #f09d51;
}
/* reset */
/* base styles */
/* fonts */
/* mobile styles */
#projects, #welcome-section{
    height: 100vh;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
}

/* small tablet and large phone)*/
@media only screen and (min-width: 620px){

}

/* large tablet laptop */
@media only screen and (min-width: 960px){

}

/* large laptop and desktop */
@media only screen and (min-width: 1200px){

}
